<div class="candidatures-container">
    <div class="candidatures-header">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <h1>Candidatures</h1>
    </div>

    <div class="search-filter">
        <div class="search-box">
          <img class="search-icon" src="assets/icons/search-icon.png"/>
            <input type="text" [placeholder]="searchPlaceholder" [(ngModel)]="searchTerm">
        </div>
        <div class="filters">
            <select class="filter-tag" [(ngModel)]="filterDomain">
                <option value="">Domaine</option>
                <option *ngFor="let domain of domains" [value]="domain.value">
                    {{ domain.label }}
                </option>
            </select>
            <select class="filter-tag" [(ngModel)]="filterLevel">
                <option value="">Niveau</option>
                <option *ngFor="let level of levels" [value]="level.value">
                    {{ level.label }}
                </option>
            </select>
        </div>
    </div>


    <div class="candidature-list">
        <div class="candidature-card" *ngFor="let candidature of printedCandidatures">
            <div class="title">
                <h3>{{candidature.title}}</h3>
            </div>
            <div class="sub-title">
                <p class="institution">{{candidature.institution}}</p>
              <p class="level">{{candidature.level}}</p>
                <p class="duration">{{candidature.duration}}</p>
            </div>
            <div class="description">
                <p class="description-content">{{candidature.description}}</p>
            </div>
          <div class="datails-link-container">
            <a href="{{candidature.detailsLink}}" class="details-link">Détails</a>
          </div>
        </div>
    </div>

    <div class="pagination">
        <button
                *ngFor="let page of [].constructor(totalPages); let i = index"
                [class.active]="currentPage === i + 1"
                (click)="changePage(i + 1)"
        >
            {{ i + 1 }}
        </button>
    </div>
</div>
